<p id="notice"><%= notice %></p>

<p>
  <b>Movie:</b>
  <%= @movie_detail.movie_id %>
</p>

<p>
  <b>Star:</b>
  <%= @movie_detail.star %>
</p>

<p>
  <b>Description:</b>
  <%= @movie_detail.description %>
</p>


<%= link_to 'Edit', edit_movie_detail_path(@movie_detail) %> |
<%= link_to 'Back', movie_details_path %>
