<h1>Listing type_infos</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Type name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_infos.each do |type_info| %>
  <tr>
    <td><%= type_info.type_id %></td>
    <td><%= type_info.type_name %></td>
    <td><%= link_to 'Show', type_info %></td>
    <td><%= link_to 'Edit', edit_type_info_path(type_info) %></td>
    <td><%= link_to 'Destroy', type_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type info', new_type_info_path %>
